{% load staticfiles %}
<!DOCTYPE html>
<html lang="en" class="no-js">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"> 
        <meta name="viewport" content="width=device-width, initial-scale=1.0"> 
        <title>Eversnap | Carnival Album</title>
        <meta name="description" content="Carnival Album" />
        <meta name="keywords" content="carnival" />
        <meta name="author" content="Gianluca Donato" />
        <link rel="stylesheet" type="text/css" href="{% static 'css/default.css' %}" />
        <link rel="stylesheet" type="text/css" href="{% static 'css/component.css' %}" />
        <script src="{% static 'js/modernizr.custom.js' %}"></script>
    </head>
    <body>
        <div class="container">
            <ul class="grid effect-3" id="grid">
                {% for photo in photos %}
                    <li><a href="#"><img src="{{ photo.image_url }}"></a></li>
                {% endfor %}
            </ul>
        </div>

        <script src="{% static 'js/masonry.pkgd.min.js' %}"></script>
        <script src="{% static 'js/imagesloaded.js' %}"></script>
        <script src="{% static 'js/classie.js' %}"></script>
        <script src="{% static 'js/AnimOnScroll.js' %}"></script>
        <script>
            new AnimOnScroll( document.getElementById( 'grid' ), {
                minDuration : 0.4,
                maxDuration : 0.7,
                viewportFactor : 0.2
            } );
        </script>
    </body>
</html>